p {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: black;
}

.NavigationBar {
    position: relative;
}

.GenericNav {
    text-align: center;
    font-size: 20px;

    margin: 0 auto;
}
